<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ css("style.css") }}">

        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="{{ bootstrap("plugins/bootstrap/css/bootstrap.css") }}">
        <link rel="stylesheet" href="{{ bootstrap("css/style.css") }}">

        <!-- CSS Header and Footer -->
        <link rel="stylesheet" href="{{ bootstrap("css/headers/header-v1.css") }}">
        <link rel="stylesheet" href="{{ bootstrap("css/footers/footer-v2.css") }}">

        <!-- CSS Catalogue -->
        <link rel="stylesheet" href="{{ css("catalogue.css") }}">

        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="{{ bootstrap("plugins/animate.css") }}">
        <link rel="stylesheet" href="{{ bootstrap("plugins/line-icons/line-icons.css") }}">
        <link rel="stylesheet" href="{{ bootstrap("plugins/font-awesome/css/font-awesome.min.css") }}">
        <link rel="stylesheet" href="{{ bootstrap("plugins/login-signup-modal-window/css/style.css") }}">
        <link rel="stylesheet" href="{{ bootstrap("css/headers/header-default-centered.css") }}">
        <link rel="stylesheet" href="{{ bootstrap("css/plugins/smint-env-sec.css") }}">
        <link rel="stylesheet" href="{{ bootstrap("css/plugins/shortcode_timeline2.css") }}">

        <!-- CSS Theme -->
        <link rel="stylesheet" href="{{ bootstrap("css/theme-colors/light.css") }}" id="style_color">
        <link rel="stylesheet" href="{{ bootstrap("css/theme-skins/dark.css") }}">
        <link rel="stylesheet" href="{{ bootstrap("plugins/owl-carousel2/assets/owl.carousel.css") }}">

        <!-- CSS Customization -->
        <link rel="stylesheet" href="{{ css("custom.css") }}">
        <link rel="stylesheet" href="{{ css("domaines.css") }}">
        <link rel="stylesheet" href="{{ css("footer.css") }}">
        <link rel="stylesheet" href="{{ css("responsive.css") }}">
        <link rel="stylesheet" href="{{ css("style.css") }}">

        <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>

        <link rel="icon" type="image/x-icon" href="{{ asset("favicon.ico") }}" />
        <script type="text/javascript" src="{{ bootstrap("plugins/jquery/jquery.min.js") }}"></script>
    </head>
    <body>
        {{ module("navigation/navigation-catalogue") }}
        <div class="wrapper">
            <!--=== Header actuel ===-->
            <div class="navbar-fixed-top">
                {{  module("header/header-new")  }}

                {#{{  module("navigation/navigation")  }}#}
            </div>
            <!--=== End Header actuel ===-->
            {{  module("sticky/sticky")  }}

            {% block body %}{% endblock %}

            {{ module("footer/footer-ancien") }}
        </div><!--/wrapper-->

        <!--[if lt IE 9]>
        <script src="{{ bootstrap("plugins/respond.js") }}"></script>
        <script src="{{ bootstrap("web/assets/plugins/html5shiv.js") }}"></script>
        <script src="{{ bootstrap("web/assets/plugins/placeholder-IE-fixes.js") }}"></script>
        <![endif]-->
        {% block javascripts %}{% endblock %}

        <!-- JS Global Compulsory -->
        <script type="text/javascript" src="{{ bootstrap("plugins/jquery/jquery.min.js") }}"></script>
        <script type="text/javascript" src="{{ bootstrap("plugins/jquery/jquery-migrate.min.js") }}"></script>
        <script type="text/javascript" src="{{ bootstrap("plugins/bootstrap/js/bootstrap.min.js") }}"></script>
        <!-- JS Implementing Plugins -->
        <script type="text/javascript" src="{{ bootstrap("plugins/back-to-top.js") }}"></script>
        <script type="text/javascript" src="{{ bootstrap("plugins/smoothScroll.js") }}"></script>
        <script type="text/javascript" src="{{ bootstrap("plugins/modernizr.js") }}"></script>
        <script type="text/javascript" src="{{ bootstrap("plugins/jquery.parallax.js") }}"></script>
        <script type="text/javascript" src="{{ bootstrap("plugins/bootstrap-tabcollapse.js") }}"></script>
        <script type="text/javascript" src="{{ bootstrap("plugins/jquery.smint.js") }}"></script>
        <script type="text/javascript" src="{{ bootstrap("plugins/jquery-scrollto.js") }}"></script>
        <script type="text/javascript" src="{{ bootstrap("plugins/login-signup-modal-window/js/main.js") }}"></script> <!-- Gem jQuery -->
        <script type="text/javascript" src="{{ bootstrap("plugins/owl-carousel2/owl.carousel.min.js") }}"></script>
        <!-- JS Customization -->
        <script type="text/javascript" src="{{ js("custom.js") }}"></script>
        <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>

        <!-- JS Page Level -->
        <script type="text/javascript" src="{{ bootstrap("js/app.js") }}"></script>
    </body>
</html>