<div role="navigation" class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="navbar-collapse collapse" id="main-menu" aria-expanded="false" style="height: 1px;">
                <div class="col-sm-12 col-lg-10 no-gutters-left no-gutters-right">
                    <ul id="menu-menu-generique-ti-1" class="nav navbar-nav col-lg-12 no-gutters-right">
                        <li class="bouton accueil menu-item menu-item-type-custom menu-item-object-custom menu-item-12 active"><a href="./">Accueil</a></li>
                        <li class="bouton ress resdoc menu-item menu-item-type-custom menu-item-object-custom menu-item-13"><a href="/ressources-documentaires/">Ressources documentaires</a></li>
                        <li class="bouton ress actu menu-item menu-item-type-custom menu-item-object-custom menu-item-530"><a href="/actualite.html">Espace actualité</a></li>
                        <li class="bouton bout externe formation menu-item menu-item-type-custom menu-item-object-custom menu-item-531"><a href="/formation/">Formation</a></li>
                        <li class="bouton bout externe conseil menu-item menu-item-type-custom menu-item-object-custom menu-item-16"><a href="/boutique/conseil">Conseil</a></li>
                        <li class="bouton whitepaper externe menu-item menu-item-type-custom menu-item-object-custom menu-item-406"><a href="/actualite/livre-blanc/">Téléchargements gratuits</a></li>
                        <li class="contact menu-item menu-item-type-custom menu-item-object-custom menu-item-419 hidden-lg"><a href="/edito/contact.html">Contact</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->

                <div id="liens-reseaux-sociaux" class="col-sm-12 col-lg-2 no-gutters">
                    <ul class="list-inline menu clearfix">
                        <li class="left">
                            <a href="//fr-fr.facebook.com/techniques.ingenieur" target="_blank" title="facebook techniques de l'ingénieur">
                                <img src="{{  media ("logo-facebook.png") }}" alt="facebook" height="18" width="18">
                            </a>
                        </li>
                        <li class="left">
                            <a href="//twitter.com/actu_ETI" target="_blank" title="twitter techniques de l'ingénieur">
                                <img src="{{  media ("logo-twitter.png") }}" alt="twitter" height="18" width="18">
                            </a>
                        </li>
                        <li class="left">
                            <a href="http://www.linkedin.com/company/techniques-de-l'ing-nieur" target="_blank" title="linkedin techniques de l'ingénieur">
                                <img src="{{  media ("logo-linkedin.png") }}" alt="linkedin" height="18" width="18">
                            </a>
                        </li>
                        <li class="left">
                            <a href="//plus.google.com/117589384025660666215/posts" target="_blank" title="google + techniques de l'ingénieur">
                                <img src="{{  media ("logo-google-plus.png") }}" alt="google +" height="18" width="18">
                            </a>
                        </li>
                        <li class="left">
                            <a href="http://www.techniques-ingenieur.fr/edito/rss.html" target="_blank" title="flux rss techniques de l'ingénieur">
                                <img src="{{  media ("logo-rss.png") }}" alt="flux rss" height="18" width="18">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>
</div>