{# wk-template : domaine.html.twig #}
{# wk-description : Page domaine du site #}
{% extends 'base.html.twig' %}

{% block body %}
    <!--=== Content Part  ===-->
    <div class="container slider-margin-top">
        <!--=== Breadcrumbs ===-->
        {{ module("navigation/breadcrumb") }}
        <!--=== End Breadcrumbs ===-->

        <!--=== Header Article ===-->
        {{ module("header/header-article") }}
        <!--=== Fin Header Article ===-->

        <div id="menu-smint" class="tab-v1 tab-domaines">
            <div id="sub-menu" class="subMenu smint" style="position: relative; margin-top: 0px; top: 0px; left: 0px;">
                <div class="inner">
                    <a href="#presentation-smint" id="presentation-smint" class="subNavBtn pull-left">Présentation</a>
                    <a href="#corps-article-smint" id="corps-article-smint" class="subNavBtn">Coprs de l'article</a>
                    <a href="#auteurs-smint" id="auteurs-smint" class="subNavBtn active">Auteurs</a>
                    <a href="#biblio-smint" id="biblio-smint" class="subNavBtn active">Bibliographie &amp; annexes</a>
                    <a href="#outils-smint" id="outils-smint" class="subNavBtn active">Boite à outils</a>
                    <a href="#meme-sujet-smint" id="meme-sujet-smint" class="subNavBtn active">Sur le même sujet</a>
                    <a href="#offre-commerciale-smint" id="offre-commerciale-smint" class="subNavBtn active">Notre offre commerciale</a>
                    <a href="#rien-smint" id="rien-smint" class="subNavBtn"></a>
                    <a href="javascript:void(0);" class="btn menu-button dropdown-toggle extLink" data-toggle="dropdown">
                        <i class="fa fa-angle-down menu-icon"></i>
                    </a>
                    <ul class="dropdown-menu pull-right pop-up-menu list-unstyled link-list-cstm padding-bottom-0 padding-top-0">
                        <li onclick="jQuery('.presentation-smint').ScrollTo();"><p id="d-documents" class="pop-up-style margin-top-5 margin-bottom-5">Présentation</p></li>
                        <li onclick="jQuery('.corps-article-smint').ScrollTo();"><p id="d-corps-article" class="pop-up-style margin-top-5 margin-bottom-5">Corps de l'article</p></li>
                        <li onclick="jQuery('.auteurs-smint').ScrollTo();"><p id="d-auteurs" class="pop-up-style margin-top-5 margin-bottom-5">Auteurs</p></li>
                        <li onclick="jQuery('.biblio-smint').ScrollTo();"><p id="d-biblio" class="pop-up-style margin-top-5 margin-bottom-5">Bibliographie &amp; annexes</p></li>
                        <li onclick="jQuery('.outils-smint').ScrollTo();"><p id="d-outils" class="pop-up-style margin-top-5 margin-bottom-5">Boite à outils</p></li>
                        <li onclick="jQuery('.meme-sujet-smint').ScrollTo();"><p id="d-meme-sujet" class="pop-up-style margin-top-5 margin-bottom-5">Sur le même sujet</p></li>
                        <li onclick="jQuery('.offre-commerciale-smint').ScrollTo();"><p id="d-offre-commerciale" class="pop-up-style margin-top-5 margin-bottom-5">Notre offre commerciale</p></li>
                    </ul>
                </div>
            </div>

            <!--=== Reassurance Article ===-->
            {{ module("reassurance/reassurance-article") }}
            <!--=== Fin Onglet Article ===-->

            <!--=== Reassurance Article ===-->
            {{ module("navigation/onglets-article") }}
            <!--=== Fin Onglet Article ===-->

            <div class="clearfix tab-content tab-content-article">
                <!--=== Sticky Article ===-->
                {{ module("sticky/sticky-article") }}
                <!--=== Fin Sticky Article ===-->
                <section id="presentation" class="tab-pane fade in tab-bg active presentation-smint">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 content-article">
                            <div class="row margin-top-30 margin-bottom-20">
                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-md-offset-3 col-lg-offset-3 letter-spacing-75 text-center">
                                    <a onclick="toggle_div(this,'id_annotation');"><i class="fa fa-pencil imprim-annotation-size " aria-hidden="true"></i>Annotations</a>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 letter-spacing-75 text-center">
                                    <a id="link_imp" href="#" role="button"><i class="fa fa-print imprim-annotation-size" aria-hidden="true"></i> Imprimer </a>
                                </div>
                            </div>
                            <!--  annotation div  *********************  -->
                            <div class="annotation-border col-md-offset-3 col-lg-offset-3" id="id_annotation" style="display: none;">
                                <div class="annotation-child margin-bottom-35">
                                    <i class="fa fa-times fa-2x" aria-hidden="true" style="padding-right: 15px;padding-left: 240px;cursor:pointer;padding-top: 5px;" onclick="$(&quot;#id_annotation&quot;).hide();"></i>
                                    <p class="annotation-title"><strong> MOTS CLEFS / TAGS </strong></p>
                                    <p class="annotation-title2"> Séparer les mots par des virgules </p>
                                    <input class="border" type="text" size="35" placeholder="Ajouter un tag" style="padding-top: 2px;padding-left: 5px;">
                                </div> <br>
                                <div class="annotation-child">
                                    <p class="annotation-title"> NOTES </p>
                                    <p class="annotation-title2"> Ajouter une nouvelle note </p>
                                    <textarea class="txt-area-heightt border" name="Notes" rows="3" cols="34" style="padding-top: 2px;padding-left: 5px;" placeholder="Ajouter un tag"></textarea><br> <br>
                                    <a class="btn-u btn-offers--details " style=" background: #697277 !important;left: 70px;width: 100px;padding-top: 5.500;top: -10 px;bottom: 10px;padding-right: 0px;padding-left: 10px;"> <i class="fa fa-chevron-right fa-1x" aria-hidden="true" style="padding-right: 10px;"></i> VALIDER</a>
                                </div>
                            </div>
                            <div>
                                <h3 class="best-articles color-red-eti font-weight-300 downloads-title font-size-17 letter-spacing-75 margin-bottom-12 line-height-15 font-family-myriadpro-semibold">
                                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                                    NOTE DE L'ÉDITEUR
                                </h3>
                                <div class="eti-offers-devider hr-border-red margin-left-28 xs-margin-bottom-10"></div>
                                <p class=" letter-spacing-75 line-height-20 margin-bottom-30 margin-top-12 letter-spacing-75 article-body-color">10/07/2009<br>
                                    Cet article est la réédition actualisée de l’article SE4056 intitulé
                                    « Élaboration des schémas de procédés industriels » paru en 2000, rédigé par Michel AUROY.</p>
                            </div>
                            <div>
                                <h3 class="best-articles color-red-eti font-weight-300 margin-bottom-15 downloads-title font-size-17 letter-spacing-75 margin-bottom-12 line-height-15 font-family-myriadpro-semibold">
                                    <i class="fa fa-align-left"></i>
                                    RÉSUMÉ DE LA NOTE
                                </h3>
                                <div class="eti-offers-devider hr-border-red margin-left-28 xs-margin-bottom-10"></div>
                                <p class=" letter-spacing-75 line-height-20  margin-top-12 letter-spacing-75 article-body-color">Au cours des prochaines années, la chimie et, plus particulièrement, la chimie organique
                                    auront à composer avec les problèmes d'environnement et de pénurie des matières premières
                                    d'origine fossile. Au cours du siècle dernier, la chimie organique est devenue une composante
                                    fondamentale de l’industrie chimique et pharmaceutique, améliorant considérablement notre santé
                                    et notre qualité de vie. Toutefois, l’utilisation du pétrole, qui reste sa principale matière première,
                                    menace sérieusement son avenir, et lui confère une mauvaise image en termes de sécurité et d’environnement.
                                    Au cours de ces dernières années, l'industrie chimique a cependant profondément évolué. Cette filière a
                                    maintenant la préoccupation permanente de contrôler la plupart des cycles de vie des produits afin d’intégrer
                                    les principes d'une chimie durable dite chimie écocompatible ou chimie </p>
                                <p class=" letter-spacing-75 line-height-20 margin-top-30 margin-bottom-30 letter-spacing-75 article-body-color" style="font-style: italic;">
                                    The French administration currently requires that French industrialists conduct probabilistic risk studies.
                                    The challenges linked to the implementation of risk prevention plans highlight the necessity to dispose of
                                    transparent methodologies in order to assess the probability of industrial accidents. Over time, several
                                    regulatory documents have defined the administrative requirements regarding the level of detail expected
                                    in order to justify the probability of accidents. The assessment of the probability of failure (APF) in
                                    security barriers or in Risk Control Measures (RCM) is of major importance. “Fiability” is one of the
                                    criteria which allows for a pre-assessment of the performances of an RCM. This article presents the various
                                    types of RCM (safety features, organisational measures etc.) and explains the assessment methods for their APF.
                                    The classically used orders of magnitude for the APF are presented for these various </p>
                            </div>
                            <div>
                                <h3 class="best-articles color-red-eti font-weight-300 margin-bottom-15 downloads-title font-size-17 letter-spacing-75 margin-bottom-12 line-height-15 font-family-myriadpro-semibold">
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                    MOTS-CLEFS
                                </h3>
                                <div class="eti-offers-devider hr-border-red margin-left-28 xs-margin-bottom-10"></div>
                                <p class=" letter-spacing-75 line-height-20 margin-bottom-30 margin-top-12 letter-spacing-75 article-body-color "><a href="#">Réglementation</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Union&nbsp;européenne</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Substance</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Mélange</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Application</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Conseil</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Mise sur le marché</a>
                                </p>
                            </div>
                            <div>
                                <h3 class="best-articles color-red-eti font-weight-300 margin-bottom-15 downloads-title font-size-17 letter-spacing-75 margin-bottom-12 line-height-15 font-family-myriadpro-semibold">
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                    KEY WORDS
                                </h3>
                                <div class="eti-offers-devider hr-border-red margin-left-28 xs-margin-bottom-10"></div>
                                <p class=" letter-spacing-75 line-height-20 margin-bottom-30 margin-top-12 letter-spacing-75 article-body-color "><a href="#">Réglementation</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Union&nbsp;européenne</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Substance</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Mélange</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Application</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Conseil</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">Mise sur le marché</a>
                                </p>
                            </div>
                            <div class="archive">
                                <h3 class="best-articles color-red-eti font-weight-300 margin-bottom-15 downloads-title font-size-17 letter-spacing-75 margin-bottom-12 line-height-15 font-family-myriadpro-semibold">
                                    <span class="ico-search vertical-align-center red"></span>
                                    VERSIONS
                                </h3>
                                <div class="eti-offers-devider hr-border-red margin-left-28 xs-margin-bottom-10"></div>
                                <p class=" letter-spacing-75 line-height-20 margin-bottom-30 margin-top-12 letter-spacing-75 article-body-color ">
                                    <a id="link_exp" class="" href="#">Il existe des versions antérieures de cet article : Version archivée 1 de févr. 2003 par Renaut MOSDALE</a>
                                </p>
                            </div>
                            <div>
                                <h3 class="best-articles color-red-eti font-weight-300 margin-bottom-15 downloads-title font-size-17 letter-spacing-75 margin-bottom-12 line-height-15 font-family-myriadpro-semibold">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    PERMALIEN
                                </h3>
                                <div class="eti-offers-devider hr-border-red margin-left-28 xs-margin-bottom-10"></div>
                                <p class=" letter-spacing-75 line-height-20 margin-bottom-30 margin-top-12 letter-spacing-75 article-body-color"><a id="link_exp" class="" href="#">http://www.techniquesingenieur.fr/basedocumentaire/biomedcal-pharma-th15/ production-des-medicaments-42610210/chimie-et-developpement-durable-k1200/</a></p>
                            </div>
                            <div>
                                <h3 class="best-articles color-red-eti font-weight-300 margin-bottom-15 downloads-title font-size-17 letter-spacing-75 margin-bottom-12 line-height-15 font-family-myriadpro-semibold">
                                    <i class="fa fa-sticky-note" aria-hidden="true"></i>
                                    RÉFÉRENCE BIBLIOGRAPHIQUE
                                </h3>
                                <div class="eti-offers-devider hr-border-red margin-left-28 xs-margin-bottom-10"></div>
                                <p class=" letter-spacing-75 line-height-20 margin-bottom-30 margin-top-12 letter-spacing-75  "><a class="exp" id="open-modal" data-toggle="modal" href="#" onclick="openModal()"><i class="fa fa-angle-right margin-right-10  "></i>Exportez la référence biliographique </a></p>

                            </div>
                            <div>
                                <h3 class="best-articles color-red-eti font-weight-300 margin-bottom-15 downloads-title font-size-17 letter-spacing-75 margin-bottom-12 line-height-15 bootstrap-icon-size-2 font-family-myriadpro-semibold">
                                    <i class="fa fa-map-marker " aria-hidden="true"></i>
                                    CET ARTICLE SE TROUVE ÉGALEMENT DANS :
                                </h3>
                                <div class="eti-offers-devider hr-border-red margin-left-28 xs-margin-bottom-10"></div>
                                <p class=" letter-spacing-75 line-height-20 margin-bottom-30 margin-top-12 letter-spacing-75 article-body-color"><a id="link_exp" class="" href="#"><i class="fa fa-angle-right margin-right-10  color-red-eti"></i>Accueil &gt;  Ressources documentaires &gt;  Procédés chimie - bio - agro &gt;  Chimie verte &gt;  Chimie verte :principes, <span class="padding-left-17"> réglementations et outils d'évaluation &gt;  Chimie et développement durable - Vers une chimie organique <span class="padding-left-17">écocompatible </span></span></a></p>
                                <p class=" letter-spacing-75 line-height-20 margin-top-30 margin-bottom-30 letter-spacing-75 article-body-color"><a id="link_exp" class="" href="#"><i class="fa fa-angle-right margin-right-10  color-red-eti"></i>Accueil &gt;  Ressources documentaires &gt;  Génie industriel &gt;  Métier : responsable bureau d’étude/conception &gt;  Éco- <span class="padding-left-17">conception &gt;  Chimie et développement durable - Vers une chimie organique écocompatible</span></a></p>
                                <p class=" letter-spacing-75 line-height-20 margin-top-30 margin-bottom-30 letter-spacing-75 article-body-color"><a id="link_exp" class="" href="#"><i class="fa fa-angle-right margin-right-10  color-red-eti"></i>Accueil &gt;  Ressources documentaires &gt;  Environnement - Sécurité &gt;  Métier : responsable risque chimique &gt;  Chimie  <span class="padding-left-17">verte : principes, réglementations et outils d'évaluation &gt;  Chimie et développement durable - Vers une chimie  <span class="padding-left-17">organique</span></span></a></p>
                                <p class=" letter-spacing-75 line-height-20 margin-top-30 margin-bottom-30 letter-spacing-75 article-body-color"><a id="link_exp" class="" href="#"><i class="fa fa-angle-right margin-right-10  color-red-eti"></i>Accueil &gt;  Ressources documentaires &gt;  Environnement - Sécurité &gt;  Environnement &gt;  Développement durable &gt;   <span class="padding-left-17">Chimie et développement durable - Vers une chimie organique écocompatible</span></a></p>
                            </div>
                            <hr id="hr-separator">

                            <!--=== Interseption Article ===-->
                            {{ module("prospect/interseption") }}
                            <!--=== Fin Interseption Article ===-->
                        </div>
                    </div>
                </section>

                <section id="corps-article" class="tab-pane fade tab-bg corps-article-smint">
                </section>

                <section id="auteurs" class="tab-pane fade tab-bg auteurs-smint">
                </section>

                <section id="biblio" class="tab-pane fade tab-bg biblio-smint">
                </section>

                <section id="outils" class="tab-pane fade tab-bg outils-smint">
                </section>

                <section id="meme-sujet" class="tab-pane fade tab-bg meme-sujet-smint">
                </section>

                <section id="offre-commerciale" class="tab-pane fade tab-bg offre-commerciale-smint">
                    <div class="mint margin-top-20 margin-bottom-20">
                        <div class="menu">
                            <p class="menuBtn">Détails de l'offre</p>
                            <a href="javascript:void(0);" class="btn menu-button dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-angle-down menu-icon"></i>
                            </a>
                            <ul class="dropdown-menu pull-right pop-up-menu list-unstyled link-list-cstm padding-bottom-0 padding-top-0">
                                <li onclick="jQuery('.presentation-smint').ScrollTo();"><p id="d-documents" class="pop-up-style margin-top-5 margin-bottom-5">Présentation &amp; Sommaire</p></li>
                                <li onclick="jQuery('.expert-smint').ScrollTo();"><p id="d-expert" class="pop-up-style margin-top-5 margin-bottom-5">Comité d'experts</p></li>
                                <li onclick="jQuery('.maj-smint').ScrollTo();"><p id="d-maj" class="pop-up-style margin-top-5 margin-bottom-5">Dernières parutions</p></li>
                                <li onclick="jQuery('.details-smint').ScrollTo();"><p id="d-details" class="pop-up-style margin-top-5 margin-bottom-5">Détails de l'offre</p></li>
                            </ul>
                        </div>
                    </div>

                    <p class="text-center padding-top-35 margin-bottom-40 color-red-eti margin-right-200 font-size-17 letter-spacing-75">Les <span class="font-family-myriadpro-semibold text-uppercase">avantages</span> et <span class="font-family-myriadpro-semibold text-uppercase">services</span> compris dans votre offre</p>

                    <i class="fa fa-list title-icon-1 color-red-eti"></i>
                    <h3 class="best-sales color-red-eti font-weight-300 margin-bottom-12 downloads-title"><i class="fa fa-list margin-right-10 title-icon-2 color-red-eti"></i>accès</h3>
                    <div class="eti-offers-devider hr-border-red margin-left-30 margin-bottom-12 xs-margin-bottom-10"></div>
                    <div class="row row-acces-margin-bottom">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="elem1 service-box-padding elem-center-tablet">
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><i class="fa fa-file-text-o margin-right-20 bootstrap-icon-size-2 vertical-align-middle"></i></div>
                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                        <p class="font-size-15 letter-spacing-75">Accès illimité aux<br class="rwd-break"> articles en HTML</p>
                                        <p class="margin-bottom-20 font-size-12"><i class="fa fa-angle-right margin-right-10 "></i>Enrichis et mis à jour pendant<br class="rwd-break"> toute la durée de la souscription</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="elem2 service-box-padding elem-center-tablet">
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><i class="fa fa-download margin-right-20 bootstrap-icon-size-2 vertical-align-middle"></i></div>
                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                        <p class="font-size-15 letter-spacing-75">Téléchargement des articles<br class="rwd-break"> au format PDF</p>
                                        <p class="margin-bottom-20 font-size-12"><i class="fa fa-angle-right margin-right-10 "></i>Disponible hors connexion</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="elem3 service-box-padding elem-center-tablet">
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><i class="fa fa-desktop margin-right-20 bootstrap-icon-size-2 vertical-align-middle"></i></div>
                                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                        <p class="font-size-15 letter-spacing-75 margin-bottom-acces">Consultation sur tous<br class="rwd-break"> les supports numériques</p>
                                        <p class="margin-bottom-20 font-size-12"><i class="fa fa-angle-right margin-right-10 "></i>Des contenus optimisés pour<br class="rwd-break"> ordinateurs, tablettes et mobiles</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="fa fa-plus title-icon-1 color-red-eti"></i>
                    <h3 class="best-sales color-red-eti font-weight-300 margin-bottom-12 downloads-title"><i class="fa fa-plus margin-right-10 title-icon-2 color-red-eti"></i>services et outils pratiques</h3>
                    <div class="eti-offers-devider hr-border-red margin-left-30 margin-bottom-12 xs-margin-bottom-10"></div>
                    <div class="row row-services-margin-bottom">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="services-boxes service-box-padding service-element-border elem-center-tablet">
                                <a class="services-popin" href="&#9;&#9;/base-documentaire/automatique-robotique-th16/systemes-d-information-et-de-communication-42397210/services/hotline.html&#10;" style="text-decoration:none;">
                                    <div class="row">

                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><i class="fa fa-exchange margin-right-20 bootstrap-icon-size-2 vertical-align-middle"></i></div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

                                            <p class="font-size-15 letter-spacing-75">Questions aux experts</p>
                                            <p class="margin-bottom-40 font-size-12"><i class="fa fa-angle-right margin-right-10 "></i>Les meilleurs experts techniques<br class="rwd-break"> et scientifiques vous répondent</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="services-boxes service-box-padding service-element-border elem-center-tablet">
                                <a class="services-popin" href="&#9;&#9;/base-documentaire/automatique-robotique-th16/systemes-d-information-et-de-communication-42397210/services/articles-decouverte.html&#10;" style="text-decoration:none;">
                                    <div class="row">

                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><i class="fa fa-files-o margin-right-20 bootstrap-icon-size-2 vertical-align-middle"></i></div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

                                            <p class="font-size-15 letter-spacing-75 article-margin">Articles découverte</p>
                                            <p class="margin-bottom-40 font-size-12"><i class="fa fa-angle-right margin-right-10 "></i>La possibilité de consulter des<br class="rwd-break"> articles en dehors de votre offre</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="services-boxes service-box-padding service-element-border elem-center-tablet">
                                <a class="services-popin" href="&#9;&#9;/base-documentaire/automatique-robotique-th16/systemes-d-information-et-de-communication-42397210/services/lexique.html&#10;" style="text-decoration:none;">
                                    <div class="row">

                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><i class="fa fa-globe margin-right-20 bootstrap-icon-size-2 vertical-align-middle"></i></div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 sm-padding-right-0">

                                            <p class="font-size-15 letter-spacing-75">Dictionnaire technique multilingue</p>

                                            <p class=" margin-bottom-40 font-size-12"><i class="fa fa-angle-right margin-right-10 "></i>45 000 termes en français, anglais,<br class="rwd-break"> espagnol et allemand</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-bottom-65">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="services-boxes service-box-padding service-element-border elem-center-tablet">
                                <a href="/base-documentaire/archives-th12/archives-automatique-et-ingenierie-systemes-tias0/" style="text-decoration:none;">
                                    <div class="row">

                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><i class="fa fa-archive margin-right-20 bootstrap-icon-size-2 vertical-align-middle"></i></div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

                                            <p class="font-size-15 letter-spacing-75 archive-info-margin">Archives</p>
                                            <p class="margin-bottom-40 font-size-12"><i class="fa fa-angle-right margin-right-10 "></i>Technologies anciennes et versions<br class="rwd-break"> antérieures des articles</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="services-boxes service-box-padding service-element-border elem-center-tablet">

                                <a class="services-popin" href="&#9;&#9;/base-documentaire/automatique-robotique-th16/systemes-d-information-et-de-communication-42397210/services/impression-a-la-demande.html&#10;" style="text-decoration:none;">
                                    <div class="row">
                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><i class="fa fa-book margin-right-20 bootstrap-icon-size-2 vertical-align-middle"></i></div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

                                            <p class="font-size-15 letter-spacing-75">Impression à la demande</p>
                                            <p class="margin-bottom-40 font-size-12"><i class="fa fa-angle-right margin-right-10 "></i>Commandez les éditions papier<br class="rwd-break"> de vos ressources documentaires</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="services-boxes service-box-padding service-element-border elem-center-tablet">

                                <a href="/newsletter.html" style="text-decoration:none;">
                                    <div class="row">

                                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><i class="fa fa-paper-plane margin-right-20 bootstrap-icon-size-2 vertical-align-middle"></i></div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

                                            <p class="font-size-15 letter-spacing-75 archive-info-margin">Newsletters et alertes</p>
                                            <p class="margin-bottom-40 font-size-12"><i class="fa fa-angle-right margin-right-10 "></i>Recevez par email toutes les nouveautés<br class="rwd-break"> de vos ressources documentaires</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <p class="text-red font-weight-300 downloads-title text-center font-size-17 margin-details-offre margin-bottom-40"><span class="font-family-myriadpro-semibold">détails </span>de l'offre</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th align="center" class="border-right-1-white bg-green th-align-center letter-spacing-75 "><span class="font-family-myriadpro-bold text-uppercase">Licence</span> annuelle monoposte</th>
                            <th align="center" class="border-right-1 bg-gray th-align-center letter-spacing-75 "><span class="font-family-myriadpro-bold text-uppercase">Licence</span> pluriannuelle et/ou multiposte</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="border-left-1 border-top-1 letter-spacing-75v5 downloads-title"><strong>Droit d'accès</strong></td>
                            <td></td>
                            <td class="border-right-1"></td>
                        </tr>
                        <tr>
                            <td class="border-left-1 border-right-1 border-top-0">Accès HTML aux articles</td>
                            <td align="center" class="border-right-1 border-top-0">Illimité</td>
                            <td align="center" class="border-right-1 border-top-0">Illimité</td>
                        </tr>
                        <tr>
                            <td class="border-left-1 border-right-1 border-top-0">Téléchargement des versions pdf</td>
                            <td align="center" class="border-right-1 border-top-0">5 / jour</td>
                            <td align="center" class="border-right-1 border-top-0"> &gt; 5 / jour <span class="font-size-10">(2)</span></td>
                        </tr>
                        <tr>
                            <td class="border-left-1 border-right-1 border-top-0">Consultation sur tous les supports</td>
                            <td align="center" class="border-right-1 border-top-0">Oui</td>
                            <td align="center" class="border-right-1 border-top-0">Oui</td>
                        </tr>
                        <tr>
                            <td class="border-left-1 border-top-1 letter-spacing-75v5 downloads-title"><strong>Les services</strong></td>
                            <td align="center" class="border-top-1"></td>
                            <td align="center" class="border-top-1 border-right-1"></td>
                        </tr>
                        <tr>
                            <td class="border-left-1 border-right-1 border-top-0">Questions aux experts <span class="font-size-10">(1)</span></td>
                            <td align="center" class="border-right-1 border-top-0"> 4 / an</td>
                            <td align="center" class="border-right-1 border-top-0"> &gt; 4 / an <span class="font-size-10">(2)</span></td>
                        </tr>
                        <tr>
                            <td class="border-left-1 border-right-1 border-top-0">Articles découverte</td>
                            <td align="center" class="border-right-1 border-top-0">5 / an</td>
                            <td align="center" class="border-right-1 border-top-0"> &gt; 5 / an <span class="font-size-10">(2)</span></td>
                        </tr>
                        <tr>
                            <td class="border-left-1 border-right-1 border-top-0">Dictionnaire technique multilingue</td>
                            <td align="center" class="border-right-1 border-top-0">Oui</td>
                            <td align="center" class="border-right-1 border-top-0">Oui</td>
                        </tr>
                        <tr>
                            <td class="border-left-1 border-right-1 border-top-0">Archives</td>
                            <td align="center" class="border-right-1 border-top-0">Oui</td>
                            <td align="center" class="border-right-1 border-top-0">Oui</td>
                        </tr>
                        <tr>
                            <td class="border-left-1 border-right-1 border-top-0">Impression à la demande</td>
                            <td align="center" class="border-right-1 border-top-0">45 € / exemplaire</td>
                            <td align="center" class="border-right-1 border-top-0">45 € / exemplaire</td>
                        </tr>
                        <tr>
                            <td class="border-left-1 border-right-1 border-bottom-1 border-top-0">Infos mise à jour</td>
                            <td align="center" class="border-right-1 border-bottom-1 border-top-0">Oui</td>
                            <td align="center" class="border-right-1 border-bottom-1 border-top-0">Oui</td>
                        </tr>

                        <tr class="hidden-xs">
                            <td class="border-top-0"></td>
                            <td class="text-center border-top-0">
                                <a href="http://preprod.techniques-ingenieur.fr/boutique/checkout/cart/add/uenc/aHR0cDovLw,,/product/1776/" class="btn-u btn-block btn-offers--details bg-color-74b504 ">
                                    <i class="fa fa-shopping-cart center-btn-icon margin-right-5"></i> AJOUTER AU PANIER
                                </a>
                            </td>
                            <td class="text-center border-top-0">
                                <a href="//preprod.techniques-ingenieur.fr/boutique/inforequest/pack/devis/produit/1776/" class="btn-u btn-block btn-devis--details bg-color-697277 xs-margin-left-devis width-btn margin-left-10 ">
                                    <i class="fa fa-arrow-right margin-right-5"></i> DEMANDER UN DEVIS
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="font-size-10 letter-spacing-75v5">(1) Non disponible pour les lycéens, les établissements d’enseignement supérieur et autres organismes de formation. (2) Sur devis</p>

                    <div class="row">
                        <div class="hidden-sm hidden-md hidden-lg col-xs-12">
                            <div class="text-center">
                                <a href="http://preprod.techniques-ingenieur.fr/boutique/checkout/cart/add/uenc/aHR0cDovLw,,/product/1776/" class="btn-u btn-block btn-offers--details bg-color-74b504 margins-btns ">
                                    <i class="fa fa-shopping-cart center-btn-icon margin-right-5"></i> AJOUTER AU PANIER
                                </a>
                            </div>
                        </div>
                        <div class="hidden-sm hidden-md hidden-lg col-xs-12">
                            <div class="text-center">
                                <a href="//preprod.techniques-ingenieur.fr/boutique/inforequest/pack/devis/produit/1776/" class="btn-u btn-block btn-offers--details bg-color-697277 margins-btns ">
                                    <i class="fa fa-arrow-right margin-right-5"></i> DEMANDER UN DEVIS
                                </a>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="rien-smint tab-pane fade tab-bg" id="rien"></section>

                <hr id="hr-separator" class="hidden-md hidden-lg">

                <!--=== Sommaire Article ===-->
                {{ module("navigation/sommaire-article") }}
                <!--=== Fin Sommaire Article ===-->
            </div>
        </div>
    </div>
{% endblock %}