{# wk-template : gratuits.html.twig #}
{# wk-description : Page les gratuits du site #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper">
    <!--=== Header actuel ===-->
    <div class="navbar-fixed-top">
        {{  module('header/header-ancien')  }}

        {#{{  module('navigation/navigation')  }}#}
    </div>
    <!--=== End Header actuel ===-->
    {{  module('sticky/sticky')  }}

    <!--=== Breadcrumbs ===-->
    <!-- <div class="container">
        <ul class="pull-left breadcrumb">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="">Ressources documentaires</a></li>
            <li class="brd-active">Environnement - sécurité</li>
        </ul>
    </div> -->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part  ===-->
    <div class="container slider-margin-top">
        <h1 class="text-center color-red-eti margin-bottom-15 font-weight-300 font-size-24-22-20"><strong>TOUT </strong>les contenus gratuits de <strong>Technique de l'Ingénieur</strong></h1>

        <i class="fa fa-bullseye accueil-title-icon-1"></i>
        <h3 class="text-red font-weight-300 margin-bottom-10"><i class="fa fa-bullseye accueil-title-icon-2"></i>DANS LES <strong>RESSOURCES DOCUMENTAIRES</strong></h3>
        <div class="eti-accueil-devider margin-left-45 margin-bottom-20"></div>

        <div class="margin-bottom-50 margin-right-left-150">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            {{ module('domaine/listing') }}
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            {{ module('domaine/listing') }}
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            {{ module('domaine/listing') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="margin-bottom-40 margin-right-left-150">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                    {{ module('recherche/recherche') }}
                </div>
            </div>
        </div>

        <hr id="hr-separator">
        <i class="fa fa-bullseye accueil-title-icon-1"></i>
        <h3 class="text-red font-weight-300 margin-bottom-10"><i class="fa fa-bullseye accueil-title-icon-2"></i>LE MAGAZINE DE <strong>L'ACTUALITE</strong></h3>
        <div class="eti-accueil-devider margin-left-45 margin-bottom-20"></div>

        <div class="row margin-left-right">
            <div class="hidden-xs hidden-sm col-md-4 no-gutters">
                {{ module('actualite/article-300x510') }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 no-gutters">
                        {{ module('actualite/article-300x250') }}
                        {{ module('actualite/article-300x250') }}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 no-gutters">
                        <div class="row">
                            {{ module('actualite/article-300x510') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center margin-top-40">
            <a href="#" class="btn-u btn-brd btn-u-red btn-u-sm color-red-eti" type="button"><i class="fa fa-fa fa-chevron-right margin-right-5"></i> TOUTE L'ACTUALITÉ</a>
        </p>

        <hr id="hr-separator">
        <i class="fa fa-bullseye accueil-title-icon-1"></i>
        <h3 class="text-red font-weight-300 margin-bottom-10"><i class="fa fa-bullseye accueil-title-icon-2"></i>LES <strong>LIVRES BLANCS</strong></h3>
        <div class="eti-accueil-devider margin-left-45 margin-bottom-20"></div>
        <div class="row margin-left-right">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 xs-padding-0 no-gutters">
                {{ module("livre-blanc/livre-blanc") }}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 xs-padding-0 no-gutters">
                {{ module("livre-blanc/livre-blanc") }}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 xs-padding-0 no-gutters">
                {{ module("livre-blanc/livre-blanc") }}
            </div>
        </div>
        <p class="text-center margin-top-40">
            <a href="#" class="btn-u btn-brd btn-u-red btn-u-sm color-red-eti" type="button"><i class="fa fa-fa fa-chevron-right margin-right-5"></i> TOUS LES LIVRES BLANCS</a>
        </p>

        <hr id="hr-separator">
        <i class="fa fa-bullseye accueil-title-icon-1"></i>
        <h3 class="text-red font-weight-300 margin-bottom-10"><i class="fa fa-bullseye accueil-title-icon-2"></i>LES<strong>CONFÉRENCES</strong></h3>
        <div class="eti-accueil-devider margin-left-45 margin-bottom-20"></div>
        <div class="row margin-left-right">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 xs-padding-0 xs-margin-bottom-15 no-gutters">
                {{ module("conference/conference") }}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 xs-padding-0 xs-margin-bottom-15 no-gutters">
                {{ module("conference/conference") }}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 xs-padding-0 xs-margin-bottom-15 no-gutters">
                {{ module("conference/conference") }}
            </div>
        </div>
        <p class="text-center margin-top-40">
            <a href="#" class="btn-u btn-brd btn-u-red btn-u-sm color-red-eti" type="button"><i class="fa fa-fa fa-chevron-right margin-right-5"></i> TOUTES LES CONFERENCES</a>
        </p>

        <hr id="hr-separator">
        {{ module('newsletter/newsletter') }}

        {{ module('reassurance/reassurance2') }}

        {{ module('footer/footer') }}
    </div>

</div><!--/wrapper-->

<!--[if lt IE 9]>
<script src="web/assets/plugins/respond.js"></script>
<script src="web/assets/plugins/html5shiv.js"></script>
<script src="web/assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
{% endblock %}
