{# wk-template : modules.html.twig #}
{# wk-description : Listing de tous les modules du site #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="container catalogue-margin-top">
    <div class="row">
        <div class="col-md-12 no-gutters listing-elements">
            <div id="module-header" style="z-index: 100;">
                <div>
                    <p>Module HEADER ANCIEN : <span class="emplacement">module > header > header-ancien.html.twig</span></p>
                    <div class="eti-accueil-devider margin-bottom-20"></div>
                    {{ module("header/header-ancien") }}
                </div>
            </div>

            <div id="module-header-new" style="z-index: 99;">
                <div>
                    <p>Module HEADER NOUVEAU : <span class="emplacement">module > header > header-new.html.twig</span></p>
                    <div class="eti-accueil-devider margin-bottom-20"></div>
                    {{ module("header/header-new") }}
                </div>
            </div>

            <div id="module-sticky" style="z-index: 98;">
                <div>
                    <p>Module STICKY : <span class="emplacement">module > sticky > sticky.html.twig</span></p>
                    <div class="eti-accueil-devider margin-bottom-20"></div>
                    {{ module("sticky/sticky") }}
                </div>
            </div>

            <div id="module-listing" style="z-index: 97;">
                <div>
                    <p>Module LISTING : <span class="emplacement">module > domaine > listing.html.twig</span></p>
                    <div class="eti-accueil-devider margin-bottom-20"></div>
                    {{ module("domaine/listing") }}
                </div>
            </div>

            <div id="module-recherche" style="z-index: 96;">
                <div>
                    <p>Module RECHERCHE : <span class="emplacement">module > recherche > recherche.html.twig</span></p>
                    <div class="eti-accueil-devider margin-bottom-20"></div>
                    {{ module("recherche/recherche") }}
                </div>
            </div>

            <div id="module-article" style="z-index: 95;">
                <div>
                    <p>Module ARTICLE : <span class="emplacement">module > article > article-300x250.html.twig</span></p>
                    <div class="eti-accueil-devider margin-bottom-20"></div>
                    {{ module("actualite/article-300x250") }}
                </div>
            </div>

            <div id="module-article-etroit" style="z-index: 94;">
                <div>
                    <p>Module ARTICLE ETROIT : <span class="emplacement">module > article > article-300x510.html.twig</span></p>
                    <div class="eti-accueil-devider margin-bottom-20"></div>
                    {{ module("actualite/article-300x510") }}
                </div>
            </div>

            <div id="module-article-large" style="z-index: 93;">
                <div>
                    <p>Module ARTICLE ETROIT : <span class="emplacement">module > article > article-610x250.html.twig</span></p>
                    <div class="eti-accueil-devider margin-bottom-20"></div>
                    {{ module("actualite/article-610x250") }}
                </div>
            </div>

            <div id="module-conference" style="z-index: 92;">
                <div>
                    <p>Module CONFERENCE : <span class="emplacement">module > conference > conference.html.twig</span></p>
                    <div class="eti-accueil-devider margin-bottom-20"></div>
                    {{ module("conference/conference") }}
                </div>
            </div>

            <div id="module-livre-blanc" style="z-index: 91;">
                <div>
                    <p>Module LIVRE BLANC : <span class="emplacement">module > livre-blanc > livre-blanc.html.twig</span></p>
                    <div class="eti-accueil-devider margin-bottom-20"></div>
                    {{ module("livre-blanc/livre-blanc") }}
                </div>
            </div>

            <div id="module-onglets" style="z-index: 90">
                <div>
                    <p>Module ONGLETS : <span class="emplacement">module > livre-blanc > livre-blanc.html.twig</span></p>
                    <div class="eti-accueil-devider margin-bottom-20"></div>
                    <div class="tab-v1">{{ module("navigation/onglets") }}</div>
                </div>
            </div>

            <div id="module-newsletter" style="z-index: 5;">
                <div>
                    <p>Module NEWSLETTER : <span class="emplacement">module > newsletter > newsletter.html.twig</span></p>
                    <div class="eti-accueil-devider margin-bottom-20"></div>
                    {{ module("newsletter/newsletter") }}
                </div>
            </div>

            <div id="module-newsletter" style="z-index: 4;">
                <div>
                    <p>Module NEWSLETTER ABO: <span class="emplacement">module > newsletter > newsletter-abo.html.twig</span></p>
                    <div class="eti-accueil-devider margin-bottom-20"></div>
                    {{ module("newsletter/newsletter-abo") }}
                </div>
            </div>

            <div id="module-reassurance" style="z-index: 3;">
                <div>
                    <p>Module REASSURANCE : <span class="emplacement">module > reassurance > reassurance.html.twig</span></p>
                    <div class="eti-accueil-devider margin-bottom-20"></div>
                    {{ module("reassurance/reassurance") }}
                </div>
            </div>

            <div id="module-reassurance2" style="z-index: 2;">
                <div>
                    <p>Module REASSURANCE 2: <span class="emplacement">module > reassurance > reassurance2.html.twig</span></p>
                    <div class="eti-accueil-devider margin-bottom-20"></div>
                    {{ module("reassurance/reassurance2") }}
                </div>
            </div>

            <div id="module-footer" style="z-index: 1;">
                <div>
                    <p>Module FOOTER : <span class="emplacement">module > footer > footer.html.twig</span></p>
                    <div class="eti-accueil-devider margin-bottom-20"></div>
                    {{ module("footer/footer") }}
                </div>
            </div>

        </div><!--/wrapper-->

        <!--[if lt IE 9]>
        <script src="web/assets/plugins/respond.js"></script>
        <script src="web/assets/plugins/html5shiv.js"></script>
        <script src="web/assets/plugins/placeholder-IE-fixes.js"></script>
        <![endif]-->
    </div>
</div>
{% endblock %}